div.container{
    display:flex;
    width: 100%;
}

div.mainBlock span{
    width: 100px;
    height:100px;
    display: block;
    animation: mainAn 4s  linear  infinite;
}

@keyframes mainAn{
    0%{transform: translate(0,0); background-color: red;}
    25%{transform:translate(200px,0); background-color: yellow;}
    50%{transform:translate(200px,200px);background-color: blue;}
    75%{transform:translate(0,200px);background-color: green;}
    100%{transform:translate(0,0px); background-color: red;}
}
